<launch>

    <node pkg="abelhudo_pkg"
          name="abelhudo_node"
          type="car_node.py"
          output="screen"
          />

    <node pkg="abelhudo_pkg"
          name="servo_node"
          type="servo_node.py"
          output="screen"
          />

    <node pkg="abelhudo_pkg"
          name="motor_node"
          type="motor_node.py"
          output="screen"
          />

    <node pkg="abelhudo_pkg"
          name="sonar_node"
          type="sonar_node.py"
          output="screen"
          />

    <node pkg="abelhudo_pkg"
          name="encoder_node"
          type="encoder_node.py"
          output="screen"
          />

</launch>

